@font-face {
    font-family: 'ApercuRegular';
    src: url('fonts/ApercuRegular.otf');
 }

 @font-face {
    font-family: 'ApercuBold';
    src: url('fonts/ApercuProBold.otf');
 }

.nav-bar {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: inherit;
    align-items: center;
}

.nav-bar > a {
    font-size: 24px;   
    display: flex;
    justify-content: center;
    align-items: center;
}



#header > button {
    font-family: 'ApercuRegular';
    font-size: 20px;

    float: right;
    display: flex;
    justify-content: center;
    align-items: center;

}

header {
    background-color: #3d6d79;
    position: sticky;
    top: 0;
    /* height: 5rem; */
}


h1 {
    font-family: 'ApercuBold';
    font-size: 48px;
}

body {
    background-color: #FFFEF8;
    color: #3d6d79;
    font-family: 'ApercuRegular';
    margin: 0px;

}

#content {
    color:  #3d6d79;
    background-color: #FFFEF8
} 

#footer {
    background-color:  #3d6d79;
    color: #FFFEF8;
    position: absolute;
    height: 2.5rem;
    width: 100%;
} 

body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}